@font-face {
    font-family: Roboto;
    src: url('..//Google fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('..//Google fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url('..//Google fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}