header {
    min-height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 60px;
}

header .bg {
    height: 450px;
    width: 100%;
    z-index: -1;
    position: absolute;
    background: #333;
    background: url('..//assets/Background-image.png');
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

header p {
    margin: 1rem 0;
}

header a {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 2em 0;
}

header a:hover {
    background: #aeaeae;
    color: #333;
}